.container {
    background-color: darkslategray;
    width: 15%;
    margin-left: 50%;

}

/*.border {*/
/*    margin-bottom: 20%;*/
/*    margin-top: 2%;*/
/*   margin-left: auto;*/
/*    border-width: 6px;*/
/*}*/